 label,input, textarea, select {
    font-family: 'Arial', sans-serif;
    font-size: 18px;
}

.create-tire__container {
    display: flex;
    flex-direction: column;
}

.tire-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}

.tire-form__section {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

.tire-form__section--left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tire-form__image {
    max-width: 100%;
    height: auto;
}

.tire-form__section--middle,
.tire-form__section--right {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-right: 80px;
}

.tire-form--horizontal {
    display: flex;
    justify-content: space-between;
}

.tire-form__group {
    margin-bottom: 20px;
    position: relative;
}
.form__label_horizontal{
    width: 130px;
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    text-align: left;
}
.tire-form__label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    text-align: left; 
}

.tire-form__input {
    width: 100%;
    height: 36px;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #000;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #fff;
    padding: 0 10px;
}

.tire-form__button {
    padding: 10px 20px;
    background-color: rgb(35, 62, 120);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px auto;
    width: 300px;
    height: 56px;
}

.tire-form__button:hover {
    background-color: #2a0dec;
}

.require_dot {
    color: red;
}

.relative-container {
    position: relative;
}

.absolute-container {
    position: absolute;
    top: 72%;
    left: 15%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 36px;
}

.relative-container img {
    width: 100%;
    height: 96px;
}

.admin__footer {
    text-align: center;
    color: gray;
    padding: 20px;
}

.adm {
    margin: -1px 0 10px;
    height: 54px;
    text-align: center;
    background: 0 0 repeat-x;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.error {
    border: 1px solid red;
}

.error-message {
    color: red;
    font-size: 0.875em;
    margin-top: 5px;
    text-align: left;
}
