* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.filter-tires {
  width: 100%;
  height: 400px;
}
.header-selector {
  width: 100%;
  height: 85px;
  background-color: #e1e1e1;
}
.header-selector ul {
  width: 1040px;
  height: 65px;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  margin: auto;
}
.header-selector ul li {
  background-color: #f4f4f4;
  width: 320px;
  height: 65px;
  text-align: center;
  line-height: 65px;
  font-size: 20px;
}

/*  */

.wrapper {
  width: 1040px;
  height: 185px;
  margin: auto;
  background-color: #f4f4f4;
  display: flex;
  padding: 22px 45px 0 35px;
}
.product-type {
  width: 330px;
  height: 165px;
}
.product-type p {
  width: 330px;
  height: 30px;
  margin-bottom: 20px;
  font-size: 26px;
  line-height: 30px;
  /* text-align: left; */
}
.wrapper-image {
  width: 210px;
  height: 113px;
  background-image: url(/big-car-tire-summer.webp);
  background-repeat: no-repeat;
  margin: auto;
  background-size: cover;
}
.tab-content {
  width: 585px;
  height: 135px;
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  padding: 7px 0 24px;
}

.choose-profile,
.choose-diametr {
  width: 95px;
  height: 60px;
  display: flex;
  flex-direction: column;
  margin: 0 0 20px 10px;
}
.choose-width {
  width: 95px;
  height: 60px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.choose-season,
.choose-manufacturer {
  width: 130px;
  height: 60px;
  display: flex;
  flex-direction: column;
  margin: 0 0 20px 10px;
}
.choose-width .title,
.choose-profile .title,
.choose-diametr .title,
.choose-season .title,
.choose-manufacturer .title {
  margin: 0 0 6px;
  font-size: 16px;
  text-align: left;
}
.choose-width select,
.choose-profile select,
.choose-diametr select {
  width: 95px;
  height: 35px;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding-left: 12px;
}
.btn-wrapper {
  width: 585px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.btn-wrapper button {
  width: 300px;
  padding: 14px 0;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  font-weight: 700;
  background: #0072ff;
  border-radius: 6px;
  box-shadow: 0 1px 5px rgb(0 0 0 / 16%);
  color: #fff;
  border: none;
  cursor: pointer;
}
.btn-wrapper button:hover {
  background: #015fd3;
}
/* dropdown */
.dropdown {
  height: 35px;
  min-width: 50px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #000;
  text-indent: 0;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: none;
  background: #fff;
  line-height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.dropdown span {
  display: block;
  width: 100px;
  /* padding: 0 40px 0 10px; */
}
.choose-season,
.choose-manufacturer {
  position: relative;
}
.dropdown__season {
  width: 320px;
  height: 185px;
  position: absolute;
  background: #eee;
  border-radius: 5px;
  /* border: 2px solid red; */
  margin: 70px 0;
  right: 0;
}

.dropdown__season__menu {
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 16px 0 10px;
}

.dropdown__season__menu li {
  width: 100%;
  height: 30px;
  cursor: pointer;
  margin: 2px 15px;
  border-radius: 4px;
}

.dropdown__season__menu li label {
  display: flex;
  font-weight: 700;
  font-size: 16px;
}
.dropdown__season__menu li label p {
  padding-left: 5px;
}
.dropdown__season__btn {
  width: 320px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 15px 24px;
}
.dropdown__season__btn button {
  width: 130px;
  height: 30px;
  background: #004395;
  font-size: 16px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  border: none;
}
.dropdown__season__btn button:hover {
  background: #012d63;
}
.producers-group {
  width: 950px;
  height: 510px;
  position: absolute;
  background: #eee;
  border-radius: 5px;
  /* border: 2px solid red; */
  margin: 70px 0;
  padding: 30px 60px;
  right: -140px;
}

.group-premium {
  width: 100%;
  height: 110px;
}
.group-medium,
.group-cheap {
  width: 100%;
  height: 110px;
  margin-top: 30px;
}
.group-premium__title,
.group-medium__title,
.group-cheap__title {
  width: 100%;
  height: 35px;
  margin-bottom: 20px;
  background: #f4f4f4;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.group-premium__title::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 5px;
  height: 35px;
  background-color: #0059c6;
}
.group-medium__title::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 5px;
  height: 35px;
  background-color: #ffab19;
}
.group-cheap__title::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 5px;
  height: 35px;
  background-color: #33b806;
}
.group-premium__title input,
.group-medium__title input,
.group-cheap__title input {
  cursor: pointer;
  margin: 0 5px;
}
.group-premium__title label,
.group-medium__title label,
.group-cheap__title label {
  margin-left: 10px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}
.group-premium__items,
.group-medium__items,
.group-cheap__items {
  width: 100%;
  height: 55px;
}
.group-premium__items ul,
.group-medium__items ul,
.group-cheap__items ul {
  width: 100%;
  height: 55px;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.group-premium__items ul li,
.group-medium__items ul li,
.group-cheap__items ul li {
  width: 165px;
  display: flex;
  justify-content: flex-start;
}
.group-premium__items label,
.group-medium__items label,
.group-cheap__items label {
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
  padding-left: 15px;
  font-weight: 400;
}
.group-premium__items label input,
.group-medium__items label input,
.group-cheap__items label input {
  margin-right: 10px;
}
.choose-manufacturer__btn {
  width: 100%;
  height: 40px;
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}
.choose-manufacturer__btn button {
  width: 240px;
  height: 40px;
  text-align: center;
  font-weight: 700;
  border-radius: 4px;
  font-size: 14px;
  background-color: #004395;
  color: #fff;
  border: none;
  cursor: pointer;
}
.choose-manufacturer__btn button:hover {
  background-color: #022f66;
}
