.tire-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.tire-item {
  width: 300px;
  height: 380px;
  margin-bottom: 30px;
  align-content: center;
  border-radius: 10px;
  border: 1px solid #cbcbcbf5;
}

.tire-image {
  width: 260px;
  height: 180px;
  align-self: center;
  margin-top: 15px;
}

.guaranty-frame {
  width: 90px;
  height: 25px;
  position: absolute;
  margin-left: 190px;
  border-radius: 10px;
  border: 1px solid #7cff5c;
}

.guaranty-text {
  font-family: Manrope;
  font-size: 10px;
  font-weight: 700;
  line-height: 25px;
  text-align: center;
}

.discount-frame {
  width: 40px;
  height: 15px;
  margin-left: 45px;
  border-radius: 5px;
  border: 0.5px solid #f79c13;
}

.discount-text {
  width: 40px;
  height: 15px;
  font-family: Manrope;
  font-size: 10px;
  font-weight: 700;
  line-height: 15px;
  text-align: center;
}

.tire-info {
  width: 80%;
  height: 30px;
  margin-top: 10px;
  margin-left: 30px;
  margin-right: 70px;
  display: flex;
  justify-content: space-between;
}

.tire-price {
  margin-left: 30px;
  margin-right: 40px;
  display: flex;
  justify-content: space-between;
}

.price-with-discount {
  font-family: Manrope;
  font-size: 24px;
  font-weight: 400;
  line-height: 35px;
  text-align: left;
  color: #000000;
}

.price-before-discount {
  font-family: Manrope;
  font-size: 20px;
  font-weight: 400;
  line-height: 35px;
  text-align: left;
  color: #8f8f8f;
  text-decoration-line: line-through;
}

.button-buy {
  width: 250px;
  height: 40px;
  margin-bottom: 5px;
  border-radius: 10px;
  background-color: #f79c13;
}

.button-by-text {
  font-family: Manrope;
  font-size: 16px;
  font-weight: 600;
  line-height: 21.86px;
  text-align: center;
  color: #ffffff;
}
