.feedback {
    padding: 16px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
  }
  
  .feedback__content {
    flex: 1;
    margin-right: 16px;
    background-color: #F79C1321;
    border-radius: 8px;
    padding: 20px;
  }
  
  .feedback__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .feedback__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 140px;
  }
  
  .feedback__user {
    font-weight: bold;
  }
  
  .feedback__date,
  .feedback__likes,
  .feedback__dislikes {
    font-size: 0.875rem;
    color: #666;
  }
  
  .feedback__text {
    margin: 16px 0;
    text-align: left;
  }
  
  .feedback__likes,
  .feedback__dislikes {
    display: flex;
    align-items: center;
  }
  
  .feedback__icon {
    margin-right: 8px;
  }
  
  .feedback__ratings {
    width: 315px;
    height: 232px;
    padding: 16px;
    border: 2px solid #FFD700;
    border-radius: 8px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .feedback__rating-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  
  .feedback__extra-star {
    display: flex;
    height: 100%;
    align-items: flex-end;
  }
  
  .feedback__one-star {
    display: flex;
    align-items: center;
  }
  
  .feedback__one-star img {
    margin-right: 8px;
  }
  
  /* Обновленные стили для компонента Rating */
  .rating {
    display: flex;
    justify-content: space-between; /* Размещает текст слева, звездочки справа */
    align-items: center;
  }
  
  .rating__label {
    margin-right: 8px;
  }
  